#header
{
    text-align: center;
    color:indigo;
    background-color:cyan;
    height: 70px;
    padding: 5px;
    display: flex;
}
.body1
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column: 1/4;
    grid-row: 1/5;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.image
{
    height: 350px;
    width: 400px;
    border-radius: 15px;
    margin-left: 10px;
}
.image:hover
{
    transform: translate(5px,5px);
}